1.keywords in python
2.simple mathematical operation
3.boolen operator
4.logical operator
5.exception handling
6.pandas
7.numpy
8.scipy
9.math
10.matplotlib
11.seaborn

Keywords in Python

Keywords in Python are special reserved words that are part of the language itself. They define the rules and structure of Python programs, which means you cannot use them as names for your variables, functions, classes, or any other identifiers.

In [ ]:
import keyword

# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
def outer_function():
    x = 10  # Variable in the outer function's scope

    def inner_function():
        nonlocal x  # Declare x as nonlocal
        x = 20      # Modify the x from outer_function's scope
        print(f"Inner function: x = {x}")

    inner_function()
    print(f"Outer function: x = {x}")

outer_function()

Inner function: x = 20
Outer function: x = 20

Simple mathematical operations

In [ ]:
a = 100000
a += 1
print(a)

100001

In [ ]:
a -= 1
print(a)

100000

In [ ]:
a = 250
a += 10
print(a)

260

In [ ]:
a -= 10
print(a)

250

In [ ]:
a *= 2
print(a)

500

In [ ]:
a /= 1000
print(a)

0.5

In [ ]:
b = 25
c = b%2
print(b)

25

In [ ]:
c

1

In [ ]:
a = 45
a **= 2
print(a)

2025

In [ ]:
b = 25
b //= 2
print(b)

12

boolean operators

For "and" Operator

1.   print(True and True) # Output: True
2.   print(True and False) # Output: False
3.   print(False and True) # Output: False
4.   print(False and False) # Output: False

For "or" Operator

1.   print(True or True) # Output: True
2.   print(True or False) # Output: True
3.   print(False or True) # Output: True
4.   print(False or False) # Output: False

In [ ]:
def check_if_even_or_odd(n):
  if n%2==0:
    return f"{n} is even"
  else:
    return f"{n} is odd"

In [ ]:
check_return = check_if_even_or_odd(3)
print(check_return)

3 is odd

In [ ]:
check_return = check_if_even_or_odd(98)
print(check_return)

98 is even

In [ ]:
def check_if_even_or_odd(n):
  if n%2==0:
    print(f"{n} is even")
  else:
    print(f"{n} is odd")

In [ ]:
check_return = check_if_even_or_odd(3)

3 is odd

In [ ]:
print(check_return)

None

In [ ]:
def evaluate_eligibility(age, has_degree, experience_years, project_score, is_manager):
  """
      For "and" Operator:
      print(True and True) # Output: True
      print(True and False) # Output: False
      print(False and True) # Output: False
      print(False and False) # Output: False

      For "or" operator:
      print(True or True) # Output: True
      print(True or False) # Output: True
      print(False or True) # Output: True
      print(False or False) # Output: False

      Args:

      Input:
           age: Age of candidate (int type)
           has_degree: Candidate degree if he/she has one (boolean type)
           experience_years: No. of years experience for candidate (int type)
           project_score: Project Score given by ATS system (float type)
           is_manager: Whether the candidate is a manager or not (boolean type)

      Output:
           overall_eligibility: If the candidate is eligible or not (boolean type)

  """

  # Condition 1: Basic requirements
  basic_requirements_met = (age >= 25 and has_degree)

  # Condition 2: Experience or high project score
  experience_or_score = (experience_years >= 5 or project_score > 80)

  # Condition 3: Managerial role with specific age or experience
  manager_specific_criteria = is_manager and (age > 30 or experience_years >= 10)

  # Combine all conditions for overall eligibility
  # A candidate is eligible if they meet basic requirements AND (experience/score OR manager criteria)
  overall_eligibility = basic_requirements_met and (experience_or_score or manager_specific_criteria)

  return overall_eligibility

# Test cases
print(f"Candidate 1 (Eligible): {evaluate_eligibility(28, True, 6, 75, False)}") # True: basic & experience
print(f"Candidate 2 (Eligible): {evaluate_eligibility(26, True, 3, 90, False)}") # True: basic & score
print(f"Candidate 3 (Eligible): {evaluate_eligibility(35, True, 8, 70, True)}") # True: basic & manager criteria (age > 30)
print(f"Candidate 4 (Eligible): {evaluate_eligibility(29, True, 12, 60, True)}") # True: basic & manager criteria (experience >= 10)

print(f"Candidate 5 (Not Eligible): {evaluate_eligibility(22, True, 5, 85, False)}") # False: age < 25 (fails basic)
print(f"Candidate 6 (Not Eligible): {evaluate_eligibility(30, False, 7, 70, False)}") # False: no degree (fails basic)
print(f"Candidate 7 (Not Eligible): {evaluate_eligibility(27, True, 2, 60, False)}") # False: fails experience/score and not manager
print(f"Candidate 8 (Not Eligible): {evaluate_eligibility(29, True, 4, 70, True)}")  # False: manager but fails specific age/experience

Candidate 1 (Eligible): True
Candidate 2 (Eligible): True
Candidate 3 (Eligible): True
Candidate 4 (Eligible): True
Candidate 5 (Not Eligible): False
Candidate 6 (Not Eligible): False
Candidate 7 (Not Eligible): False
Candidate 8 (Not Eligible): False

Exception Handling

Exception handling in Python provides a structured way to deal with runtime errors, or "exceptions," that can disrupt the normal flow of a program. Instead of crashing, a program can gracefully handle these unexpected events, allowing for error logging, user feedback, or corrective actions.

In [ ]:
try:
  # Code that might raise an exception
  result = 10 / 0
except ZeroDivisionError:
  # Code to handle ZeroDivisionError
  print("Cannot divide by zero!")

Cannot divide by zero!

In [ ]:
try:
  value = int("abc")
except ValueError:
  print("Invalid input: cannot convert to integer.")

Invalid input: cannot convert to integer.

In [ ]:
try:


  num = int(input("Enter a number: "))
except ValueError:
  print("That's not a valid number!")
else:
  print(f"You entered: {num}")

In [ ]:
try:
  file = open("my_file.txt", "r")
  content = file.read()
except FileNotFoundError:
  print("File not found! No such file or directory. Please check the filename or directory name.")
finally:
  if 'file' in locals() and not file.closed:
    print(f"Content in the file: {content}")
    file.close()
    print("File closed.")

Pandas

In [ ]:
import pandas as xy

In [ ]:
df = xy.read_csv('https://raw.githubusercontent.com/Muralimekala/python/master/Salaries.csv')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
%%time
[col for col in df.columns if col!='Id']

In [ ]:
%%time
inc_cols = []
for col in df.columns:
  if col != "Id":
    inc_cols.append(col)
print(inc_cols)

In [ ]:
inc_cols = [col for col in df.columns if col!='Id']
df[inc_cols].describe()

In [ ]:
df[inc_cols].head()

In [ ]:
df = xy.read_csv('https://raw.githubusercontent.com/Muralimekala/python/master/Salaries.csv')

In [ ]:
import pandas as xy

In [ ]:
print("\nPercentage of null values per column:\n")
print((df.isnull().sum() / len(df)) * 100)

In - Class Assignment 10/9/25

Findout the Min, Average, Max BasePay per job title
For duplicated EmpNames, take average of all numeric values, except ID, and create a new ID by dropping the existing ID
How many Emp did overtime? How much did they get paid to do the overtime? Do a simple analysis. What analysis can be done?
Did the basepay increase over time? If yes, how much was the percentage change?

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
try:
    df = pd.read_csv("https://raw.githubusercontent.com/Muralimekala/python/master/Salaries.csv")
except Exception as e:
    print(f"Error loading data: {e}")
    # Exit if data cannot be loaded
    exit()

In [ ]:
print("--- Data Loading and Cleaning Complete ---")
print(f"Data has {len(df)} rows and {len(df.columns)} columns.")

In [ ]:
print("\n" + "="*80)
print("1. Min, Average, Max BasePay Per Job Title")
print("="*80)

In [ ]:
basepay_summary = df.groupby('JobTitle')['BasePay'].agg(
    Min_BasePay='min',
    Average_BasePay='mean',
    Max_BasePay='max'
).sort_values(by='Average_BasePay', ascending=False)

In [ ]:
print("Top 10 Job Titles by Average BasePay:")
print(basepay_summary.head(10).to_markdown(numalign="left", stralign="left"))

In [ ]:
print("\n" + "="*80)
print("2. Averaging Numeric Values for Duplicated Employee Names")
print("="*80)

In [ ]:
df_no_id = df.drop(columns=['Id'], errors='ignore')

In [ ]:
# Identify duplicated employee names, excluding 'Not provided'
duplicated_names = df[df.duplicated(subset=['EmployeeName'], keep=False) & (df['EmployeeName'] != 'Not provided')]

# Check if there are any duplicated names to process
if not duplicated_names.empty:
    # Select only numeric columns for averaging
    numeric_cols = duplicated_names.select_dtypes(include=np.number).columns.tolist()

    # Ensure 'EmployeeName' is not in numeric_cols before grouping and averaging
    if 'EmployeeName' in numeric_cols:
        numeric_cols.remove('EmployeeName')

    # Average the numeric values for duplicated employee names
    averaged_duplicates = duplicated_names.groupby('EmployeeName')[numeric_cols].mean().reset_index()

    # Create a new simple ID column (1, 2, 3...)
    averaged_duplicates.insert(0, 'New_ID', range(1, 1 + len(averaged_duplicates)))

    print("Averaged numeric values for duplicated employee names:")
    display(averaged_duplicates.head().to_markdown(index=False, numalign="left", stralign="left"))

    print(f"Found {len(duplicated_names['EmployeeName'].unique())} unique employee names with duplicate entries.")
    print("Example of the new aggregated data (first 5 rows):")
    # Display the first 5 aggregated records
    print(averaged_duplicates.head(5).to_markdown(index=False, numalign="left", stralign="left"))
else:
    print("No duplicated employee names found (excluding 'Not provided').")

In [ ]:
print("\n" + "="*80)
print("3. Overtime Analysis")
print("="*80)

# Employees who did overtime are those with OvertimePay > 0
overtime_emps = df[df['OvertimePay'] > 0]

count_overtime_emps = len(overtime_emps)
total_overtime_pay = overtime_emps['OvertimePay'].sum()

print(f"Number of employees who did overtime: {count_overtime_emps}")
print(f"Total amount paid for overtime: \${total_overtime_pay:,.2f}")

# Simple Analysis: Top 5 Job Titles by Total Overtime Pay
top_overtime_jobs = overtime_emps.groupby('JobTitle')['OvertimePay'].sum().nlargest(5)
print("\nTop 5 Job Titles by Total Overtime Pay:")
print(top_overtime_jobs.to_markdown(numalign="left", stralign="left"))

print("\n--- What analysis can be done? ---")
print("A deeper analysis could involve:")
print("1. **Correlation:** Check the correlation between `OvertimePay` and `TotalPay` or `BasePay`.")
print("2. **Distribution:** Analyze the distribution of `OvertimePay` across different `Year`s to see if overtime hours changed over time.")
print("3. **Top Earners:** Identify the job titles or individuals receiving the highest amount of overtime pay to understand who is working the most extended hours.")

In [ ]:
# Calculate the average BasePay for the earliest and latest years
average_basepay_earliest = df[df['Year'] == df['Year'].min()]['BasePay'].mean()
average_basepay_latest = df[df['Year'] == df['Year'].max()]['BasePay'].mean()

# Calculate the overall percentage change
if average_basepay_earliest != 0:
    overall_change_pct = ((average_basepay_latest - average_basepay_earliest) / average_basepay_earliest) * 100
else:
    overall_change_pct = 0 # Handle the case where the earliest average is zero

if overall_change_pct > 0:
    print(f"\nConclusion: Yes, the average BasePay **increased** from the earliest year to the latest year.")
else:
    print(f"\nConclusion: No, the average BasePay **decreased** or remained flat from the earliest year to the latest year.")

print(f"The overall percentage change in average BasePay is: {overall_change_pct:.2f}%")

In-class Assignment

1.   How many null values in this dataset?
2.   How many rows and columns in the dataset?
3.   66th percentile value for each numeric column programmatically
4.   Unique Job titles
5.   Find unique years
6.   Unique Employee names

In [ ]:
# 1. How many null values in this dataset?
df.isnull() .sum()

In [ ]:
# 2. How many rows and columns in the dataset?
print(f"No. of rows: {df.shape[0]}")
print(f"No. of columns: {df.shape[1]}")

In [ ]:
# 3. 66th percentile value for each numeric column programmatically

df.info()

In [ ]:
# List of all columns
numeric_columns = df.columns

# Loop through each column
for num_col in numeric_columns:

  # Check the datatype of the column
  # Condition if datatype is not "object"
  if df[num_col].dtypes != 'object':

    # create a variable datatype to store the datatype information
    datatype = df[num_col].dtypes

    # Debug statement to print the datatype value for a column
    print(f"The datatype of {num_col} is: {datatype}")

    # Use quantile function from pandas to calculate the 66th percentile value
    percentile_66 = df[num_col].quantile(0.66)
    print(f"The 66th percentile of {num_col} is: {percentile_66}")

In [ ]:
# 4. Unique Job titles

df["JobTitle"].unique()

In [ ]:
# 5. Unique Agencies

df["Agency"].unique()

In [ ]:
# 6. Find unique years


df["Year"].unique()

EDA Section


1.   Pandas
2.   numpy
3.   scipy
4.   math
5.   matplotlib
6.   seaborn

In [ ]:
df.info()

In [ ]:
# List of all columns
all_columns = df.columns

In [ ]:
all_columns

In [ ]:
df['Id'].dtypes, df['Agency'].dtypes, df['TotalPay'].dtypes

In [ ]:
# Loop through each column
for num_col in all_columns:

  # Check the datatype of the column
  # Condition if datatype is not "object"
  if df[num_col].dtypes == 'object':

    # Check the number of unique values in the column
    count = df[num_col].nunique()
    print(f"No. of unique values in {num_col}: {count}")
    print("-"*50)
    # print the unique values
    u_values = df[num_col].unique()
    print(f"Unique values in {num_col}")
    print(u_values)
    print("*"*50)

In [ ]:
148653 - 110811

In [ ]:
# Groupby, and count and order desc
df_emp_dup = df['EmployeeName'].value_counts().reset_index()

In [ ]:
df_emp_dup

In [ ]:
# Approach 1 - did not work
try:
  df_emp_dup[0,1]>1
except KeyError as e:
  print("KeyError: Column names do not exist")
finally:
  print("Executing Modified Approach 1")
  # Modified Approach 1
  df_emp_gt_1 = df_emp_dup[df_emp_dup["count"]>1]
  print(df_emp_gt_1.head(20).to_markdown())

In [ ]:
# Approach 2 - worked but output not readable

df_emp_dup["count"]>1

In [ ]:
# Approach 4 - Not readable, but correct
df['EmployeeName'].value_counts()[df['EmployeeName'].value_counts() > 1]

In [ ]:
df_emp_dup = df['EmployeeName'].value_counts().reset_index()

df_emp_gt_1 = df_emp_dup[df_emp_dup["count"]>1]

print(df_emp_gt_1.head(20))

In [ ]:
df['EmployeeName'].value_counts().reset_index()

In [ ]:
# Drop the resetted index column
df_emp_gt_1.sort_values('count').reset_index().drop('index',axis=1)

In [ ]:
df[df["EmployeeName"]=='KEVIN LEE']

In - Class Assignment


1.   Findout the Min, Average, Max BasePay per job title
2.   For duplicated EmpNames, take average of all numeric values, except ID, and create a new ID by dropping the existing ID
3.   How many Emp did overtime? How much did they get paid to do the overtime? Do a simple analysis. What analysis can be done?
4.   Did the basepay increase over time? If yes, how much was the percentage change?

NUMPY

In [ ]:
type(df_emp_gt_1.values)

In [ ]:
type(df)

In [ ]:
df_emp_gt_1.values[0]

In [ ]:
df_emp_gt_1.values[0,0]

In [ ]:
df_emp_gt_1.values[0,1]

In [ ]:
df_kevin = df[df['EmployeeName']=="KEVIN LEE"]

In [ ]:
df_kevin

In [ ]:
import numpy as np

In [ ]:
df_kevin

In [ ]:
# filter logic - filter indexes
df_kevin.iloc[index]

In [ ]:
df_kevin.values[0] # all values

In [ ]:
df_kevin.values[0,-5:] # last 5 values

In [ ]:
df_kevin.values[0,:5] # first 5 values

# For duplicated EmpNames, take average of all numeric values, except ID, and create a new ID by dropping the existing ID

In [ ]:
df[["Id","EmployeeName","JobTitle"]].value_counts().reset_index().sort_values("count", ascending=False)

Data Visualisation (Seaborn, Matplotlib, Plotly)

In [ ]:
df.info()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(5, 10))
sns.relplot(data=df, x="BasePay", y="OvertimePay")
plt.grid(True)
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Load the dataset from seaborn library

tips = sns.load_dataset("tips")

In [ ]:
tips.head()

In [ ]:
plt.figure(figsize=(10, 10))
sns.relplot(data=tips, x="total_bill", y="tip") # Relational plot
plt.grid(True) # Enable grid
plt.xticks(rotation=45) # rotate x axis values
plt.title("Relationship between Total Bill and Tips") # Give title to the plot
plt.show() # show the plot

In [ ]:
import plotly.express as px

In [ ]:
fig = px.scatter(tips, x="total_bill", y="tip") # Plotly scatter function
fig.update_layout(title="Relationship between Total Bill and Tips") # plotly title function
fig.show() # plotly display function

In [ ]:
sns.relplot(data=tips, x="total_bill", y="tip", hue="day")
plt.grid(True)
plt.xticks(rotation=45)
plt.show()

In [ ]:
import plotly.express as px
fig = px.scatter(tips, x="total_bill", y="tip", color="day")
fig.update_layout(title="Relationship between Total Bill and Tips")
fig.show()

In [ ]:
import plotly.express as px
fig = px.scatter(tips, x="total_bill", y="tip", color="smoker", size="size") #plotly scatter function
fig.update_layout(title="Relationship between Total Bill and Tips") #plotly title function
fig.show() #plotly display function

In [ ]:
tips['smoker'].value_counts()

In [ ]:
sns.relplot(
    data=tips,
    x="total_bill", y="tip", hue="smoker", style="sex"
)

In [ ]:
import plotly.express as px

fig = px.scatter(tips, x="total_bill", y="tip", color="smoker", symbol='sex') # Plotly scatter function
fig.update_layout(title="Relationship between Total Bill and Tips") # plotly title function
fig.show() # plotly display function

In [ ]:
fmri = sns.load_dataset('fmri')
fmri.head()

In [ ]:
sns.relplot(
    data=fmri.query("event == 'stim'"), kind="line",
    x="timepoint", y="signal", hue="region",
    units="subject", estimator=None,
)

In [ ]:
sns.displot(df, x="BasePay")
plt.xticks(rotation=45)

In [ ]:
sns.displot(tips, x="total_bill", hue="smoker" ,discrete=True)
plt.show()

In [ ]:
sns.displot(tips, x="total_bill", kind="kde", bw_adjust=.50)
plt.grid(True)

In [ ]:
tips.total_bill.describe()

In [ ]:
tips.total_bill.median()

In [ ]:
tips.total_bill.mean()

In [ ]:
sns.displot(df, x="BasePay", kind="kde", bw_adjust=.75)
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
bins = [0, 50000, 100000, 150000, 200000, 250000, 300000]
basepay_cat = pd.cut(df['BasePay'], bins)

In [ ]:
basepay_cat.value_counts()

In [ ]:
df['BasePay'].median()

In [ ]:
df['BasePay'].mean()

In [ ]:
import seaborn as sns
tips = sns.load_dataset("tips") # Load the tips dataset
sns.displot(tips, x="total_bill", kind='kde', bw_adjust=.50)
plt.xticks(rotation=45)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np